@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Redirect a UserInfo*@
@*<meta http-equiv="Refresh" content="0; url='https://localhost:7026/UserInfo'" />*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

