@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Redirect a UserInfo*@
@*<meta http-equiv="Refresh" content="0; url='https://localhost:7026/UserInfo'" />*@

<link rel="stylesheet" href="~/css/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="general">
    <div class="main-container">
        <div class="logo-container">
        </div>
        <img src="~/images/logoBlanco.png" style="position: absolute; height: 100px; width: 220px; margin-right: 610px;" alt="Profile Picture">

        <form method="post">
            <div class="login-container">
                <h1 style="color: white;">Inicio de sesión</h1>
                <div class="input-section">
                    <label style="color: white;"><i class="bi bi-person-circle"></i> Nombre de usuario</label>
                    <input type="text" class="modern-input" placeholder="Usuario" asp-for="usuario.userName">
                    <span asp-validation-for="usuario.userName" class="text-danger"></span>
                </div>

                <div class="input-section">
                    <label style="color: white;"><i class="bi bi-lock-fill"></i> Contraseña</label>
                    <input type="password" class="modern-input" placeholder="Contraseña" asp-for="usuario.password">
                    <span asp-validation-for="usuario.password" class="text-danger"></span>
                </div>

                @if (ModelState.IsValid == false)
                {
                    <div class="text-danger" role="alert">
                        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <span>@error.ErrorMessage</span>
                            break;
                            <br />
                        }
                    </div>
                }

               

                <button class="modern-button" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>




