@page
@model AWAQPagina.Pages.ListaEspeciesModel
@{
}

<link rel="stylesheet" href="~/css/userInfoStyles.css">
<link rel="stylesheet" href="~/css/listaEspecies.css">
<header>
    <div class="headerClass bgGreen">
        <img src="~/images/logoBlanco.png" style="height:100%" />
        <div style="display: flex; flex-direction:row; gap:20px">
            <a asp-page="/Index" class="navLink" style="width: fit-content; height: fit-content;">
                <button type="button" class="btn buttonClass">Iniciar Sesión</button>
            </a>
        </div>
    </div>
</header>
<div class="centerClass container-fluid" style="padding:32px; overflow:scroll;">
    <div class="cardContainer">
        @foreach (var especie in Model.listaEspecies)
         {
            <a href="@especie.directory">
                <div class="card">
                    <div><img src="@especie.img_web" /></div>
                    <div>@especie.nombre_Especie</div>
                </div>
            </a>
         }
    </div>
</div>