@page
@model AWAQPagina.Pages.studentViewModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWAQ</title>
    <link rel="stylesheet" href="~/css/studentView.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <div class="navBar">
        <img src="~/images/logoBlanco.png" alt="Profile Picture">
        <div class="navBarRight">
            <a asp-page="/UserInfo" class="navLink" style="width:78px"><button type="button" class="btn btn-success">Perfil</button></a>
        </div>
    </div>



    <div class="general">
        <div class="profile">
            <br>
            <br>
            <br>
            <br>
            <img src="~/images/chicoAWAQ.png" alt="Avatar" class="user-photo">

            <div style="margin-top: 10px; font-weight: bold;">
                Nombre Apellido
            </div>

            <div>
                <em>Nombre de usuario</em>
            </div>

            <br>
            <br>

            <div class="medals-user">
                <div class="bronze-medal">
                </div>
                <div class="silver-medal">
                </div>
                <div class="gold-medal">
                </div>
            </div>

            <div class="medals-text">
                <p>10</p>
                <p>20</p>
                <p>30</p>
            </div>

        </div>

        <div class="line">
        </div>

        <div class="dashboard">
            <p></p>
        </div>
    </div>

</body>
</html>
