@page
@model AWAQPagina.Pages.UserInfoModel
@{
}
@*<script>System.Diagnostics.Debug.WriteLine("test");</script>*@

<header>
    <div class="headerClass bgGreen">
        <img src="~/images/logoBlanco.png" style="height:100%" />
        <a asp-page="/studentView" class="navLink" style="width: 78px">
            <button type="button" class="btn buttonClass">Inicio</button>
        </a>
    </div>
</header>
<div class="centerClass container-fluid" style="padding:32px; overflow:scroll;">
    <div class="centerClass containerUserClass">
        <img src="@Model.usuario.profilePicture" class="imgContainer" /> @*@Model.imagePath*@
        <div style="padding: 20px;">
            <h2 style="font-size: 32px">Biografia</h2>
            <p class="userBioClass">@Model.usuario.bio</p>
        </div>
        <form method="post" enctype="multipart/form-data" class="d-flex">
            <div class="form-group">
                <label for="profilePicture">Profile Picture</label>
                <input type="file" class="form-control-file" id="profilePicture" name="profilePicture" accept="image/">
            </div>
            <button type="submit" class="btn btn-primary shadow-hover" style="background-color: #198754">Upload</button>
        </form>
        <form method="post">
            <div class="form-group">
                <label for="biography">Biography</label>
                <textarea class="form-control" id="biography" name="usuario.bio">@Model.usuario.bio</textarea>
            </div>
            <button type="submit" class="btn btn-primary" asp-page-handler="SaveBiography">Save</button>
        </form>
    </div>
</div>
