
.tableClass{
    width: 1000px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    object-fit: cover;
}

.rowClass {
    height: 100px;
    display: flex;
    flex-direction: row;
    border: 1px grey solid;
}

.colClass {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colClass img {
    height: 100%;
}