* {
    margin: 0;
    padding: 0;
}

.general {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 1000px;
    background-color: #202714;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

.logo-container {
    height: 547.45px; /*TEMPORAL*/
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0.35);
    background-image: url(/images/bg_form.png);
    background-size: 100% 100%;
}

    .logo-container img {
        height: 120px;
        width: auto;
    }

.line {
    border-left: 1px solid rgb(255, 255, 255);
    height: 400px;
    border-radius: 5px;
}

.login-container {
    background-color: #202714;
    margin-left: auto;
    height: 100%;
    width: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.form-control {
    margin-top: 40px;
    max-width: 400px;
    padding: 15%;
}

    .form-control:focus {
        outline: none; /* Remove outline when focused */
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Change box shadow when focused */
    }

.modern-button {
    background-color: #29692b; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition */
}

    .modern-button:hover {
        background-color: #1f4921; /* Darker green on hover */
        transform: scale(1.02);
    }

.modern-input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 100px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    transition: border-color 0.3s ease; /* Add smooth transition */
    background-color: #202714;
    transition: all 0.2s ease;
    color: white;
    margin-top: 8px;
}

    .modern-input::placeholder {
        font-style: italic; /* Italicize placeholder text */
        color: #ddd;
        font-size: 14px;
    }

    .modern-input:hover {
        border-color: #ffffff;
        transform: scale(1.01);
    }

.input-section {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
